.posts.index {
    .search {
        align-items: center;
        /* background-color: #ffffff;
        border: solid #f0f0f0 1px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);; */
        display: flex;
        padding: 0.5rem 0;
    }

    .search label {
        margin-right: 0.5rem;
    }

    .search input {
        margin: 0;
    }

    .grid .url {
        display: flex;
        font-size: 0.8rem;
        margin-top: 0.25rem;
        max-width: 300px;
        white-space: nowrap;
    }

    .grid .url strong {
        font-weight: 600;
        margin-right: 0.25rem;
    }
}
