label {
    display: block;
    margin-bottom: 0.25rem;
}

input,
textarea,
.labeled-input {
    border: solid 1px #666666;
    border-radius: 5px;
    display: block;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    width: 100%;
}

input:focus,
textarea:focus,
.labeled-input:focus-within {
    outline: solid 1px #999999;
    outline-offset: 2px;
}

button {
    background-color: #e6e6e6;
    border: solid 1px #666666;
    border-radius: 5px;
    padding: 0.5rem;
}

button.primary {
    background-color: #3737f8;
    border: solid 1px #0000e6;
    color: #ffffff;
}

button:focus {
    outline: solid 1px #999999;
    outline-offset: 2px;
}

button.primary:focus {
    outline: solid 1px #3737f8;
}

.labeled-input {
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
}

.labeled-input label,
.labeled-input input {
    margin-bottom: 0;
}

.labeled-input label {
    white-space: nowrap;
}

.labeled-input input {
    border: none;
    margin: 0;
    padding: 0;
}

.labeled-input input:focus {
    outline: none;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;

    @media (width > 764px) {
        flex-direction: row;
    }
}

.fieldset .overview {
    @media (width > 764px) {
        margin-right: 2rem;
        width: 400px;
    }
}

.fieldset .overview h3 {
    margin: 0;
}

.fieldset section {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
