.grid {
    align-items: center;
    display: flex;
    flex-direction: column;

    .pagination a,
    .pagination span,
    .pagination select {
        background-color: #ffffff;
        border: solid 1px #c7c7c7;
        border-radius: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        color: inherit;
        display: inline-block;
        padding: 0.5rem;
        text-decoration: none;
    }

    .pagination span {
        cursor: default;
    }

    .pagination a[disabled] {
        color: #cccccc;
    }

    .pagination a[data-active] {
        border-color: #999999;
        border-bottom: solid 3px #666666;
    }

    .pagination a:hover:not([disabled]) {
        background-color: #d7d7d7;
    }

    table {
        border-collapse: collapse;
        margin: 0.5rem 0 1rem;
        width: 100%;
    }

    thead th {
        font-weight: 600;
        white-space: nowrap;
    }

    tbody {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
    }

    tbody tr:nth-child(even) td {
        background-color: #f7f7f7;
    }

    tbody td {
        background-color: #ffffff;
    }

    /* All cells */
    tbody td,
    thead th {
        padding: 0.5rem;
        text-align: left;
    }

    /* First column */
    tbody td:first-child,
    thead th:first-child {
        padding-left: 1rem;
    }

    /* Last column */
    tbody td:last-child,
    thead th:last-child {
        padding-right: 1rem;
    }

    /* Cells in first row */
    tbody tr:first-child td {
        padding-top: 1rem;
    }

    /* Cells in last row */
    tbody tr:last-child td {
        padding-bottom: 1rem;
    }

    /* Top left cell */
    tbody tr:first-child td:first-child {
        border-top-left-radius: 10px;
    }

    /* Top right cell */
    tbody tr:first-child td:last-child {
        border-top-right-radius: 10px;
    }

    /* Bottom right cell */
    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    /* Bottom left cell */
    tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    /* Grid row actions */
    tbody .actions {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    tbody .actions a,
    .grid tbody .actions button {
        color: inherit;
        margin-right: 0.5rem;
        text-decoration: none;
    }
}

@media (width <= 500px) {
    .pagination {
        display: flex;
    }

    .pagination a,
    .pagination span {
    }

    .pagination select {
        height: 100%;
        flex-grow: 1;
        margin: 0 0.5rem;
    }

    .grid thead {
        display: none;
    }

    .grid tr {
        display: flex;
        flex-direction: column;
    }

    .grid tr th,
    .grid tr td {
        display: flex;
    }

    .grid tr th::before,
    .grid tr td::before {
        content: attr(data-title);
        display: inline-block;
        width: 30%;
    }

    .grid tr th:first-child,
    .grid tr td:first-child {
        padding: 0.5rem;
    }

    /* Top left cell */
    tbody tr:first-child td:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* Top right cell */
    tbody tr:first-child td:last-child {
        border-top-right-radius: 0;
    }

    /* Bottom right cell */
    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    /* Bottom left cell */
    tbody tr:last-child td:first-child {
        border-bottom-left-radius: 0;
    }
}
