* {
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
}

.admin {
    align-items: stretch;
    background-color: #e7e7e7;
    display: flex;
    padding-right: 4rem;

    /* Admin sidebar */
    aside {
        margin-right: 1rem;
        min-width: 200px;
        width: 10vw;
    }

    /* Admin sidebar - Auth section */
    aside .auth {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
        position: relative;
    }

    aside .auth img {
        border-radius: 999px;
        width: 48px;
    }

    aside .auth > span {
        align-self: center;
        margin-left: 1rem;
    }

    aside .auth ul {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
        cursor: default;
        display: none;
        flex-direction: column;
        min-width: 200px;
        padding: 0.5rem;
        position: absolute;
        top: calc(100% + 0.5rem);
    }

    aside .auth[data-open] ul {
        display: flex;
    }

    aside .auth > ul li a {
        align-items: center;
        color: inherit;
        display: flex;
        line-height: 1;
        padding: 0.5rem;
        text-decoration: none;
    }

    /* Admin sidebar - Nav list */
    aside nav > ul {
        border-top: solid 1px #a6a6a6;
        margin: 1rem;
        padding: 0.5rem 0;
    }

    aside nav > ul li a {
        align-items: center;
        color: inherit;
        display: flex;
        line-height: 1;
        padding: 0.5rem;
        text-decoration: none;
    }

    aside nav ul li a[data-active] {
        background-color: rgba(0, 0, 0, 0.1);
    }

    aside nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

    aside nav ul li a svg {
        margin-right: 0.5rem;
    }

    header {
        padding: 1.5rem 1rem 0 0;
    }

    header h1 {
        margin: 0;
    }

    header .actions {
        list-style-type: none;
        padding: 0;
    }

    main {
        flex-grow: 1;
        padding: 0 1rem 1rem 0;
    }

    main section {
        background-color: #ffffff;
        border: solid #f0f0f0 1px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
        padding: 1rem;
    }

    .stacked {
        display: flex;
        flex-direction: column;
    }

    .muted {
        opacity: 0.5;
    }

    .truncate {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
