* {
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
}

.admin {
    background-color: #e7e7e7;

    .sidebar {
        background: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        height: 4rem;
        inset: 0 0 auto 0;
        position: fixed;

        a {
            align-items: center;
            color: inherit;
            display: flex;
            line-height: 1;
            padding: 0.5rem;
            text-decoration: none;
        }

        ul li a:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

        /* Admin sidebar - Auth section */
        .auth {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            inset: 0 0 auto auto;
            padding: 0.5rem;
            position: absolute;
        }

        .auth img {
            cursor: pointer;
            border-radius: 999px;
            margin-left: 1rem;
            width: 3rem;
        }

        .auth > span {
            align-self: center;
            margin-left: 1rem;
        }

        .auth > ul {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
            cursor: default;
            display: none;
            flex-direction: column;
            min-width: 200px;
            padding: 0.5rem;
            position: absolute;
            top: calc(100% + 0.5rem);
        }

        .auth[data-open] > ul {
            display: flex;
            position: absolute;
            right: 0.5rem;
        }

        a svg {
            margin-right: 0.5rem;
        }

        /* Admin sidebar - Pages */
        .pages > a {
            display: inline-block;
            padding: 0.5rem;

            svg {
                width: 3rem;
            }
        }

        .pages ul {
            background: #ffffff;
            box-shadow: 0 6px 5px rgba(0, 0, 0, 0.35);
            display: none;
            inset: 3rem auto -1rem -1rem;
            margin: 1rem;
            min-width: 200px;
            padding: 0.5rem 0;
            position: fixed;
        }

        .pages[data-open] > ul {
            display: block;
        }

        .pages ul li a[data-active] {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .pages ul li a svg {
            margin-right: 0.5rem;
        }
    }

    header {
        justify-content: space-between;
        display: flex;
        padding: 1.5rem 1rem 0 0;
    }

    header h1 {
        margin: 0;
    }

    header .actions {
        list-style-type: none;
        padding: 0;
    }

    main {
        flex-grow: 1;
        padding: 4rem 1rem 1rem 1rem;
    }

    main section {
        background-color: #ffffff;
        border: solid #f0f0f0 1px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
        margin: 1rem 0;
        padding: 1rem;
    }

    .stacked {
        display: flex;
        flex-direction: column;
    }

    .muted {
        opacity: 0.5;
    }

    .truncate {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
